
.letraprincipal {
	font-family: 'Montserrat', sans-serif;

}

.imgpequenia {
		width: 100px;
		height: 100px;

}

body {
	background-color: blue;
	color: red;
}
.fonden{
	background-color: #000000;
}
.n{
	background-color: #3983F0;
}
.t{
	background-color: #FFE900;
}
.d{
	background-color: #E1007F;
}

.imagenhome {
	margin: 0 auto
}

.logo {
	width: 140px;
  height: 140px;
}

.contenedor {
background-color: #6A5ACD;
padding: center-block;

}

footer {
	text-align: center;
	background-color: #302C36;

}

h3 {

	color: #white;
}
